@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: white;
}

/* Using Fonts */
/* font-family: 'Miama', sans-serif; */
/* font-family: "Inter", sans-serif; */

/* Share Styles */
.display-flex {
  display: flex;
}
.container {
  max-width: 1060px;
  margin: 100px auto;
  padding: 0 20px;
}
.btn-primary {
  background-color: #e6533c;
  border: none;
  border-radius: 42px;
  padding: 16px 46px;
  cursor: pointer;
}

/* Body Styles */
body {
  background-color: #000000;
}

/* Header Related Styles */
.header {
  width: 100%;
  height: auto;
  background-image: linear-gradient(
    to bottom,
    rgba(83, 82, 82, 0.384),
    #0f0f0f48
  );
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
.header-container {
  max-width: 1060px;
  max-height: 715px;
  margin: 0 auto;
}
/* Navbar Related Styles */
.navbar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}
.navbar .nav-logo {
  color: #e6533c;
  font-style: italic;
  font-size: 2.25rem;
  font-weight: bolder;
  margin-top: 20px;
}
.nav-items {
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 5px 5px;
  gap: 45px;
  margin-top: 20px;
}
.nav-menu {
  width: 24px;
  height: 24px;
  display: none;
}
.nav-menu img {
  width: 100%;
}
#home-btn {
  background-color: #e6533c;
  padding: 8px 20px;
  border: none;
  border-radius: 46px;
}
.nav-items li {
  list-style: none;
}
.nav-items li:nth-child(4) {
  padding: 0 20px;
}
.nav-items li a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: 300;
}

/* Banner Related Styles */
.banner {
  justify-content: space-between;
  align-items: center;
}
/* banner content styles */
.banner-content {
  max-width: 500px;
  color: white;
  flex-direction: column;
  gap: 28px;
}
.banner-slogan .banner-content-title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 28px;
}

#banner-title-shape {
  font-family: "Miama", sans-serif;
  font-weight: 300;
}
.banner-content-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 1.5rem;
}
.banner-content-btn {
  gap: 14px;
}
.join-btn a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
}
.download-btn {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 42px;
  padding: 16px 46px;
}
.download-btn a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
}

/* banner image styles */
.banner-img-container {
  max-width: 536px;
  max-height: 580px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
}
.banner-img-container .play-icon img {
  width: 30px;
}
.banner-img img {
  width: 350px;
  height: 580px;
}
.banner-img .tutorial-videos {
  width: 206px;
  gap: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 20px 23px;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgb(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  bottom: 63px;
  left: 0px;
  position: absolute;
}
.banner-img .tutorial-videos .circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e6533c;
}
.circle-img {
  width: 25px;
  height: 25px;
  display: none;
}
.circle-img > img {
  width: 100%;
  height: 100%;
}
.banner-img .free-videos {
  box-sizing: border-box;
  width: 206px;
  padding: 20px 23px;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgb(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  bottom: 340px;
  right: -100px;
  position: absolute;
}
.banner-img .tutorial-videos .tutorial-content > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}
.banner-img .tutorial-videos .tutorial-content > p {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(239, 237, 232, 0.65);
}
.banner-img .free-videos > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}
.banner-img .free-videos > p {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(239, 237, 232, 0.65);
}

/* Main Section Styles */
/* .main {
  max-width: 1060px;
  margin: 100px auto;
} */
/* Change Habits Section Styles */
.change-habits {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 58px;
  margin-bottom: 100px;
}
.change-habits-content {
  max-width: 630px;
  text-align: center;
}
.change-habits-content > h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 14px;
}
.change-habits-content > p {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.habits-cards {
  gap: 40px;
}
.habits-card {
  max-width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.habits-card img {
  width: 100%;
  width: 180px;
  height: 180px;
  border: 4px solid rgb(36, 36, 36);
  box-shadow: 0px 4px 4px 0px rgba(36, 36, 36, 0.438);
  border-radius: 50%;
}
.habits-card-content {
  text-align: center;
}
.habits-card-content > h2 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 6px;
}
.habits-card-content > p {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

/* Extra Run Section Styles */
.extra-run-container {
  background-color: #222222;
  padding: 30px 30px 30px 54px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 100px;
}
.extra-run-content {
  max-width: 350px;
  flex-direction: column;
}
.extra-run-content > h2 {
  margin-bottom: 14px;
  font-size: 3rem;
  font-weight: 700;
}
.extra-run-content > p {
  margin-bottom: 34px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}
.extra-run-content > button {
  width: 224px;
  font-size: 1.125rem;
  font-weight: 500;
}
.extra-run-img {
  max-width: 366px;
}
.extra-run-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

/* Trainings and Exercises Related Styles  */
.train-exercise-container {
  flex-direction: column;
  gap: 58px;
  margin-bottom: 100px;
}
.train-exercise-content {
  max-width: 600px;
}
.train-exercise-content > h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 14px;
}
.train-exercise-content > p {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.train-exercise-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 250px;
  grid-auto-rows: 200px;
}
.gallery-box {
  background-size: cover;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
.image-content {
  width: 180px;
  position: absolute;
  top: 150px;
}
.box-1 {
  background-color: rgba(6, 255, 210, 0.5);
  background-blend-mode: soft-light;
}
.box-1 .image-content > p {
  color: black;
}
.box-2 {
  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: soft-light;
}
.box-3 {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
}
.box-4 {
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: sof;
}
.box-5 {
  background-color: rgba(66, 255, 0, 0.3);
  background-blend-mode: soft-light;
}
.box-6 {
  background-color: rgba(0, 71, 255, 0.3);
  background-blend-mode: soft-light;
}

.image-content > p {
  font-size: 0.875rem;
  font-weight: 300;
}
/* Share style for image gallery */
.col-2 {
  grid-column: span 2;
}

/* BMI Calculator Related Styles */
.bmi-calculator {
  width: 100%;
  background-color: rgba(34, 34, 34, 1);
  padding: 50px 0;
}
/* .bmi-cal-content-section{
  
} */
.bmi-calculator-container {
  flex-direction: column;
  gap: 88px;
  align-items: center;
}
.bmi-cal-content {
  max-width: 630px;
  margin: auto;
}
.bmi-cal-content > h2 {
  font-size: 3rem;
  font-weight: 900;
}
.bmi-cal-content > p {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.bmi-calculate-box {
  max-width: 1060px;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}
.bmi-cal-chart {
  max-width: 350px;
}
.bmi-cal-chart > h2 {
  margin-bottom: 50px;
  text-align: center;
}
.bmi-cal-table {
  border-collapse: collapse;
}
.bmi-cal-table th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  text-align: left;
}
.bmi-cal-table th {
  font-size: 1rem;
  font-weight: 500;
}

.bmi-cal-table td {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

.bmi-cal-input-container {
  max-width: 580px;
  flex-direction: column;
  gap: 35px;
}
.bmi-cal-input-content > h2 {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 15px;
}
.bmi-cal-input-content > p {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.bmi-cal-input {
  width: 100%;
}
.input-section-1 {
  gap: 12px;
}
.left-section {
  width: 50%;
}
.left-section > input {
  width: 100%;
  margin-bottom: 12px;
  padding: 13px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}
.right-section {
  width: 50%;
}
.right-section > input {
  margin-bottom: 12px;
}
.right-section > input,
select {
  width: 100%;
  padding: 13px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}
.bmi-cal-input option {
  color: black;
}
.input-section-2 {
  width: 100%;
  margin-bottom: 34px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}
.bmi-cal-button > button {
  width: 224px;
  font-size: 1.125rem;
  font-weight: 500;
}

/* Our Team Related Styles */
.our-team-container {
  flex-direction: column;
  gap: 58px;
  align-items: center;
}
.our-team-content {
  max-width: 620px;
  text-align: center;
}
.our-team-content > h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.our-team-content > p {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.our-team-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 326px;
  grid-auto-rows: 270px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 18px;
}

.team-gallery-box {
  max-width: 326px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px;
  position: relative;
}
.trainer-content {
  max-width: 220px;
  position: absolute;
  top: 200px;
  left: 20px;
}
.trainer-content > h2 {
  font-size: 1.25rem;
  font-weight: 900;
}
.trainer-content > p {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

/* Footer Related Styles */
.footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 50px 0;
}
.footer-container {
  max-width: 1060px;
  margin: 0 auto;
  flex-direction: column;
  gap: 80px;
}
.footer-content {
  justify-content: space-between;
  align-items: flex-start;
}
.believe {
  max-width: 445px;
}
.believe > h1 {
  font-size: 4.375rem;
  color: #e6533c;
  margin-bottom: 20px;
  font-style: italic;
}
.believe > p {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.get-start-container {
  max-width: 514px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 152px;
}
.get-start-box {
  max-width: 180px;
}
.get-start-box > h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.get-start-box > ul li {
  list-style: none;
  margin-bottom: 20px;
}
.get-start-box > ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}

.copyright-content > hr.horizontal-border {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 36px;
}
.copyright-content > p {
  text-align: center;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}

/* Responsive for small devices*/
@media screen and (max-width: 576px) {
  /* Banner Section Change Styles */
  .header {
    height: 950px;
  }
  .header-container,
  .footer-container,
  .bmi-calculate-box {
    padding: 0 20px;
  }
  .navbar {
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu {
    display: block;
    margin-top: 20px;
  }
  .nav-items,
  .play-icon {
    display: none;
  }
  /* All Flex Direction Column */
  .banner,
  .change-habits,
  .habits-cards,
  .banner-img-container,
  .extra-run-container,
  .bmi-calculate-box,
  .footer-container,
  .footer-content,
  .get-start-container {
    flex-direction: column;
  }
  .banner-slogan {
    max-width: 280px;
  }
  .banner-content-title {
    font-size: 2.25rem !important;
    font-weight: 800 !important;
    line-height: 35px !important;
  }
  #banner-title-shape {
    font-size: 4rem !important;
  }
  .banner-content-btn {
    justify-content: space-between;
  }
  .banner-content-btn .join-btn,
  .download-btn {
    width: 170px;
    padding: 16px 20px;
  }
  .tutorial-videos .circle .circle-img {
    display: block;
  }
  .tutorial-videos {
    max-width: 180px;
    padding: 10px 10px !important;
    bottom: 250px !important;
    left: 20px;
  }
  .free-videos {
    max-width: 150px;
    padding: 10px 10px !important;
    bottom: 450px !important;
    right: 0px !important;
  }

  /* Extra run section responsive */
  .extra-run-container {
    gap: 31px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0 20px;
  }

  /* Training and exercise section responsive */
  .train-exercise-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 175px;
    grid-auto-rows: 128px;
  }
  .gallery-box {
    object-fit: cover;

    background-position: center;
  }
  .col-2 {
    grid-column: span 1;
  }
  .image-content {
    width: 150px !important;
    top: 80px;
  }

  /* Our team gallery section responsive */
  .our-team-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: 313px;
    grid-auto-rows: 272px;
    padding: 20px;
  }
  .team-gallery-box {
    object-fit: cover;
    background-position: center;
  }

  /* BMI calculator section responsive */
  .bmi-calculate-box {
    gap: 42px;
  }
  .bmi-cal-chart > h2 {
    text-align: left;
  }
  .bmi-cal-chart {
    max-width: 310px;
  }
  .bmi-cal-input-container {
    max-width: 350px;
  }

  /* Footer section responsive */
  .believe {
    max-width: 317px;
  }
}
